{% extends 'orders/base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'orders:index' %}">Menu</a></li>
<li class="breadcrumb-item active" aria-current="page">Cart</li>
{% endblock %}

{% block content %}
<div class="">
  <div class="">
    <h1>Cart</h1>
  </div>
  <div id="cart" class="">
    {% if cart %}
    <ol>
    {% for item_in_cart in cart %}
      <li>{{ item_in_cart.pizza }}, quantity: {{ item_in_cart.quantity }}</li>
    {% endfor %}
    </ol>
    {% else %}
      <p>No item in cart.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
