{% extends 'orders/base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'orders:index' %}">Menu</a></li>
  <li class="breadcrumb-item active" aria-current="page">{{ pizza.pizza_name }}</li>
{% endblock %}

{% block content %}
  <h1>{{ pizza.pizza_name }}</h1>

  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% else %}
    <p>Type: {{ pizza.pizza_type }}</p>
    <p>Description: {{ pizza.pizza_description }}</p>

    <h2>Sizes</h2>
    <ul>
      {% for size in size_list %}
        <li>{{ size }}</li>
      {% endfor %}
    </ul>

    <h2>Toppings</h2>
    <ul>
      {% for topping in topping_list %}
        <li>{{ topping }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
